*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;

}  
.box
{
    position: relative;
    width:500px;
    height: 500px;

}
.box span
{
position: absolute;
inset: 0;
transform: rotate(calc(45deg * var(--i)));
}
.box span::before
{
    content: '';
    position: absolute;
    left: 50%;
    width: 250px;
    height: 300px;
    background: url(off.png);
    background-size: cover;
    background-position: center;
    transform:  translateX(-50%) translateY(-100px) scale(0.75);
    animation: animate 2s steps(1) infinite;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes animate
{
0%, 100%
{
    background: url(off.png);
}
50%
{
    background: url(on.png);
}
}